{{#unless shoe}}
<h2>That sneaker, unfortunately, cannot be found</h2>
{{else}}
<div class="center-align"><h4>The {{shoe.brand}} - {{shoe.name}} are the flyest of them all!!

    <div class="divider #9c27b0 purple"></div>

    Fortunately they can be yours for only ${{shoe.price}}</h4></div>

<div class="row">
<div class="center-align">
<form action="/sneakers/{{shoe.brand}}/{{shoe.name}}?_method=put" method="post">
    <input type="text" name="shoe[brand]" placeholder="Maker (brand) of Kick's"/>
    <input type="text" name="shoe[name]" placeholder="Name of Kicks"/>
    <input type="number" name="shoe[price]" placeholder="Damage"/>
    <button class="purple waves-effect waves-light btn" type="submit">Update</button>
</form>
</div>
</div>
{{!-- <form action="/sneakers/{{shoe.brand}}/{{shoe.name}}?_method=put" method="post">
    <input type="text" name="shoe[brand]" placeholder="Maker (brand) of Kick's" value="{{shoe.brand}}"/>
    <input type="text" name="shoe[name]" placeholder="Name of Kicks" value="{{shoe.name}}"/>
    <input type="number" name="shoe[price]" placeholder="Damage" value="{{shoe.price}}"/>
    <button class="waves-effect waves-light btn" type="submit">Update</button>
</form> --}}

<div class="center-align">
<form action="/sneakers/{{shoe.brand}}/{{shoe.name}}?_method=delete" method="post">
    <button class="#00e676 green accent-3 waves-effect waves-light btn" type="submit">Delete</button>
</form>
</div>
{{/unless}}
