{{#unless shoe}}
<h2>That sneaker, unfortunately, cannot be found</h2>
{{else}}
<div class="center-align"><h4>The {{shoe.brand}} - {{shoe.name}} are the flyest of them all!!

    <div class="divider #9c27b0 purple"></div>

    Fortunately they can be yours for only ${{shoe.price}}</h4></div>

<form action="/sneakers/{{shoe.brand}}/{{shoe.name}}?_method=put" method="post">
    <input type="text" name="shoe[brand]" placeholder="Shoe Brand" value="{{shoe.brand}}"/>
    <input type="text" name="shoe[name]" placeholder="Shoe Name" value="{{shoe.name}}"/>
    <input type="number" name="shoe[price]" placeholder="Damage" value="{{shoe.price}}"/>
    <button class="waves-effect waves-light btn" type="submit">Update</button>
</form>

<form action="/sneakers/{{shoe.brand}}/{{shoe.name}}?_method=delete" method="post">
    <button class="waves-effect waves-light btn" type="submit">Show Me!</button>
</form>
{{/unless}}
