{{#unless shoe}}
<h1>That sneaker, unfortunately, cannot be found</h2>
{{else}}
<h2>{{shoe.brand}} + {{shoe.name}} is the flyest of them all!! They can be yours for only {{shoe.price}}</h2>

<form action="/sneakers/{{shoe.brand}}/{{shoe.name}}?_method=put" method="post">
    <input type="text" name="shoes[brand]]" placeholder="Shoe Brand" value="{{shoe.brand}}"/>
    <input type="text" name="shoes[name]" placeholder="Shoe Name" value="{{shoe.name}}"/>
    <input type="number" name="shoes[price]" placeholder="Damage" value="{{shoe.price}}"/>
    <button type="submit">Update</button>
</form>

<form action="/sneakers/{{shoe.brand}}/{{shoe.name}}?_method=delete" method="post">
    <button type="submit">Show Me!</button>
</form>
{{/unless}}
