{{!-- <h2>{{sneakers.length}} Shoes</h2> --}}
{{!-- {{#each sneakers as |sneaker index|}}
<h3>
    <a href="/sneakers/{{shoe.brand}}/{{shoe.name}}">{{shoe.brand}} && {{shoe.name}} is the best shoe, at only {{shoe.price}} and is {{shoe.athletes}}</a>
</h3>
{{/each}}

<form action="/sneakers" method="post">
    <input type="text" name="shoe[brand]" placeholder="Maker (brand) of Kick's"/>
    <input type="text" name="shoe[name]" placeholder="Name of Kicks"/>
    <input type="number" name="shoe[price]" placeholder="Pocket Damage"/>
    <button type="submit">Enter Now</button>
</form> --}}

<div class="index-background">
{{#each sneakers as |sneaker index|}}
<h5>
    <div class = "card-panel #9575cd deep-purple lighten-2 z-depth-5">
    <p class = "flow-text">
    <div class="row center-align">
    <div class="col s12"><a href="/sneakers/{{sneaker.brand}}/{{sneaker.name}}">{{sneaker.brand}} - {{sneaker.name}}  -->  Available at only ${{sneaker.price}}!!</a></div>
    </p>
    </div>
    </div>
</h5>
{{/each}}

<div class="center-align">
<div class="col s5 offset-s4">
<form class="forms" action="/sneakers" method="post">
    <div class="input-field col s6"></div><input type="text" name="shoe[brand]" placeholder="Maker (brand) of Kick's"/>
    <input type="text" name="shoe[name]" placeholder="Name of Kicks"/>
    <input type="number" name="shoe[price]" placeholder="Pocket Damage"/>
    <button class="purple waves-effect waves-light btn" type="submit">Enter Now</button>
</form>
</div>
</div>
</div>

{{!-- <div class="row">
<form class="col s12" action="/sneakers" method="post">
    <div class="input-field col s6">
        <input type="text" name="shoe[brand]" placeholder="Maker (brand) of Kick's"/>
    </div>
    <div class="input-field col s6">
        <input type="text" name="shoe[name]" placeholder="Name of Kicks"/>
    </div>
    <div class="input-field col s3">
        <input type="number" name="shoe[price]" placeholder="Pocket Damage"/>
    </div>
    <div class="input-field ">
        <button type="submit">Submit</button>
    </div>
</form>
</div> --}}
