{{#unless shoe}}
<h1>That sneaker, unfortunately, cannot be found</h2>
{{else}}
<h2>{{shoes.type}} + {{shoes.brand}} is the flyest of them all!! They can be yours for only {{shoes.price}}</h2>

<form action="/sneakers/{{shoe.type && shoe.brand}}?_method=put" method="post">
    <input type="text" name="shoes[brand]]" placeholder="Shoe Name" value="{{shoes.type}}"/>
    <input type="text" name="shoes[type]"

</form>
